# database
DATABASE_URL=
DB_PORT=
DB_PASSWORD=
DB_NAME=
DB_HOST=

# application
NODE_ENV=
API_TOKEN=
PORT=

# JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRES_IN=